<%-include('includes/head')%>

  <body>
    <div class="container-type-2 container">
      <div class="title__page">
        <br>
        <div class="row">
          <div class="col-lg-6 text-left title-sheets">
            <div class="title title-sheet-page">
              <div id="contentEnglish" class="contentEnglishToggle">
                <h1>
                  <!-- <a href="/">
    <span class="back-button"><img src="/images/main/arrow-back.svg"></span>
    </a> -->
                  <% if (cropName=="BARLEY" ) { %>
                    Barley and Millets
                    <% } else { %>
                      <%=cropName%>
                        <% } %>
                </h1>
              </div>
              <div id="contentHindi" class="contentHindiToggle">
                <h1>
                  <!-- <a href="/">
    <span class="back-button"><img src="/images/main/arrow-back.svg"></span>
    </a> -->
                  <% if (cropName=="BARLEY" ) { %>
                    Barley and Millets
                    <% } else { %>
                      <%=cropNameHindi%>
                        <% } %>
                </h1>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-right title-sheets">
            <div class="title-sheet-page">
              <div class="dropdown">
                <img class="custom-dropdown" src="/images/main/arrow-dropdown.svg" type="button" id="dropdownMenuButton"
                  style="vertical-align:middle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>other food/crops </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div id="contentEnglish" class="contentEnglishToggle">
                    <a class="dropdown-item" href="/sheets/Barley">Barley</a>
                    <a class="dropdown-item" href="/sheets/Dairy">Dairy</a>
                    <a class="dropdown-item" href="/sheets/Fish">Fish</a>
                    <a class="dropdown-item" href="/sheets/Fruits ">Fruits</a>
                    <a class="dropdown-item" href="/sheets/Hunger">Hunger</a>
                    <a class="dropdown-item" href="/sheets/Land">Land</a>
                    <a class="dropdown-item" href="/sheets/Sugarcane">Sugarcane</a>
                    <a class="dropdown-item" href="/sheets/Greens">Greens and vegetables</a>
                  </div>
                  <div id="contentHindi" class="contentHindiToggle">
                    <a class="dropdown-item" href="/sheets/Barley">जौ और बाजरा</a>
                    <a class="dropdown-item" href="/sheets/Dairy">दुग्ध पदार्थ</a>
                    <a class="dropdown-item" href="/sheets/Fish">मछलियाँ</a>
                    <a class="dropdown-item" href="/sheets/Fruits ">फल</a>
                    <a class="dropdown-item" href="/sheets/Hunger">भुखमरी</a>
                    <a class="dropdown-item" href="/sheets/Land">जमीन</a>
                    <a class="dropdown-item" href="/sheets/Sugarcane">गन्ना और गुड़</a>
                    <a class="dropdown-item" href="/sheets/Greens">साग और सब्जियां</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="intro__">
        <div id="contentEnglish" class="contentEnglishToggle">
          <div class="row">
            <div class="col-sm-8 align-items-center">
              <br>
              <div class="pageDescriptionDiv">
                <p class="pageDescription">
                  <%=description%>
                </p>
              </div>
              <br>
            </div>
            <div class="col-sm-4 align-items-center nowrap align-text-center image-container-home-div">
              <div class="image-container-home">

                <div class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=2000
                  data-cycle-caption="#adv-custom-caption" data-cycle-pause-on-hover="true"
                  data-cycle-caption-template="{{cycleTitle}}">
                  <img class="u-fadeCycle-1" src="<%=image1%>" alt="" data-cycle-title="<%=caption1%>" data-enlargeable
                    style="cursor: zoom-in">
                  <img class="u-fadeCycle-2" src="<%=image2%>" alt="" data-cycle-title="<%=caption2%>" data-enlargeable
                    style="cursor: zoom-in">
                  <center>
                    <div id="adv-custom-caption" class="center"></div>
                  </center>
                </div>
              </div>
              <br>
            </div>
            <hr>
            <div id="mobile-timeline" class="center align-items-center align-text-center">
              <a href="#timelineEnglish">Skip To Timeline</a>
            </div>
          </div>
        </div>
        <div id="contentHindi" class="contentHindiToggle">
          <div class="row">
            <div class="col-sm-8 align-items-center">
              <br>
              <p class="pageDescription">
                <%=descriptionHindi%>
              </p>
              <br>
            </div>
            <div class="col-sm-4 align-items-center align-text-center image-container-home-div">
              <div class="image-container-home">
                <div class="cycle-slideshow" data-cycle-fx=scrollHorz data-cycle-timeout=2000
                  data-cycle-caption="#adv-custom-caption-hindi" data-cycle-pause-on-hover="true"
                  data-cycle-caption-template="{{cycleTitle}}">
                  <img class="u-fadeCycle-1" src="<%=image1Hindi%>" alt="" data-cycle-title="<%=caption1Hindi%>">
                  <img class="u-fadeCycle-2" src="<%=image2Hindi%>" alt="" data-cycle-title="<%=caption2Hindi%>">
                  <center>
                    <div id="adv-custom-caption-hindi" class="center"></div>
                  </center>
                </div>

                
              </div>
              <br>
            </div>
            <hr>
            <div id="mobile-timeline" class="center align-items-center align-text-center">
              <a href="#timelineHindi">Skip To Timeline</a>
            </div>
          </div>
        </div>

        <div class="contentHindiToggle information__container" id="contentHindi">
          <hr class="horizontal-break">
          <div class="row" id="myItemsHindi">
            <div class="col-sm-8 align-items-center information-cards"
              style="display: grid; grid-template-columns: 1fr 1fr; border-right: 2px #9B613B double;">
              <h5 class="text-center">जानकारी कार्ड</h5>
              <div class="row"></div>
              <div class="row">
                <hr class="horizontal-break" />
              </div>
              <div class="row">
                <hr class="horizontal-break" />
              </div>
              <div class="row">
                <div class="filter">
                  <h6>जाति:</h6>
                  <div class="caste">
                    <%for(i=0;i < castefilterHindi.length; i++){%>
                      <label><input type="checkbox" name="fl-caste-hindi" rel="<%=castefilterHindi[i]%>"
                          value="<%=castefilterHindi[i]%>" class="hindi-filter casteFilterHindi">
                        <%=castefilterHindi[i]%>
                      </label>
                      <%}%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter">
                  <h6>क्षेत्र/मिट्टी:</h6>
                  <div class="soil">
                    <%for(i=0;i < soilfilterHindi.length; i++){%>
                      <label><input type="checkbox" name="fl-soil-hindi" rel="<%=soilfilterHindi[i]%>"
                          value="<%=soilfilterHindi[i]%>" class="hindi-filter soilfilterHindi">
                        <%=soilfilterHindi[i]%>
                      </label>
                      <%}%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter">
                  <h6>मौसम:</h6>
                  <div class="season">
                    <%for(i=0;i < seasonsfilterHindi.length; i++){%>
                      <label><input type="checkbox" name="fl-season-hindi" rel="<%=seasonsfilterHindi[i]%>"
                          value="<%=seasonsfilterHindi[i]%>" class="hindi-filter seasonsfilterHindi">
                        <%=seasonsfilterHindi[i]%>
                      </label>
                      <%}%>
                  </div>
                </div>
              </div>
              <div class="row">
              </div>
              <div class="row">
                <hr class="horizontal-break" />
              </div>
              <div class="row">
                <hr class="horizontal-break" />
              </div>
              <%for(j=0;j < dataicHindi.length; j++){%>
                <div class="card card-notl-hindi border-0" style="height:100%; display:block;"
                  data-category="<%=dataicHindi[j].Season%>Hindi<%=dataicHindi[j].Caste%>lmn<%=dataicHindi[j].Soil%>lmnText">
                  <div class="card-body">
                    <div class="card-top-info">
                      <p class="card-title text-left card-caste">Caste:
                        <%=dataicHindi[j].Caste%>
                      </p>
                      <p class="card-title text-left card-geography">Geography:
                        <%=dataicHindi[j].Soil%>
                      </p>
                    </div>

                    <!-- <p class="card-title text-left card-farming">Tag: <b>Farming</b></p> -->
                    <div class="card-body-description">
                      <% if(dataicHindi[j].Statement.toLowerCase().indexOf("youtube")> -1) { %>

                        <iframe class="card-video-top video-embed" src="<%=dataicHindi[j].Statement%>"
                          title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>

                        <% } else if(dataicHindi[j].Statement.toLowerCase().indexOf("imagekit")>
                          -1) {
                          %>
                          <img src='<%=dataicHindi[j].Statement%>' alt="" class="card-image-top img-fluid"
                            data-enlargeable style="cursor: zoom-in" />
                          <p>
                            <%-dataicHindi[j].References%>
                          </p>
                          <% } else { %>
                            <p class="card-text">
                              <%-dataicHindi[j].Statement%>
                            </p>
                            <% } %>
                    </div>

                  </div>
                </div>

                <%}%>

            </div>
            <div class="col-sm-4 timeline">
              <h5 class="text-center">घटनाक्रम</h5>

              <div class="row">
                <hr class="horizontal-break" />
              </div>

              <span class="btn-custom" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
                aria-controls="hdcall"><i class="fas fa-chevron-left"></i>
                घटनाक्रम का विस्तार</span>
              <div class="row">
                <hr class="horizontal-break" />
              </div>
              <div class="row" style="padding: 10px; padding-bottom: 20px;">
                <%for(i=0;i < datatlHindi.length; i++){%>
                  <div class="col-sm-3 text-right timeline-time" id="timelineHindi">
                    <h5>
                      <%=datatlHindi[i].Timeline%>
                    </h5>
                  </div>

                  <div class="col-sm-9 text-left" style="border-left: 1px black double;">
                    <p>
                      <a data-toggle="collapse" href='#hdc<%=i%>' role="button" aria-expanded="false"
                        aria-controls='hdc<%=i%>'>
                        <h5>
                          <%=datatlHindi[i].Transition%>
                        </h5>
                      </a>
                    </p>
                    <div class="collapse multi-collapse" id='hdc<%=i%>'>
                      <div class="card card-body timeline-description">
                        <p>
                          <%-datatlHindi[i].Description%>
                        </p>
                      </div>
                    </div>

                  </div>
                  <%}%>
              </div>

            </div>
          </div>
        </div>
        <div class="information__container contentEnglishToggle" id="contentEnglish ">
          <div class="row" id="myItemsEnglish">
            <div class="col-sm-8 align-items-center information-cards" style="border-right: 1px #9B613B double;">
              <div class="row" style="border: 1px #9B613B double; ">
                <div class="col-sm-12" style="border-bottom: 1px #9B613B double;">
                  <h5 class="text-center">Information Cards</h5>
                </div>
                <div class="col-sm-6">
                  <div class="filter">
                    <h6>Caste:</h6>
                    <div class="caste">
                      <%for(i=0;i < castefilter.length; i++){%>
                        <label><input type="checkbox" name="fl-caste" rel="<%=castefilter[i]%>"
                            value="<%=castefilter[i]%>" class="english-filter casteFilter" />
                          <%=castefilter[i]%>
                        </label>
                        <%}%>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="filter">
                    <h6>Geography:</h6>
                    <div class="soil">
                      <%for(i=0;i < soilfilter.length; i++){%>
                        <label><input type="checkbox" name="fl-soil" rel="<%=soilfilter[i]%>" value="<%=soilfilter[i]%>"
                            class="english-filter soilFilter" />
                          <%=soilfilter[i]%>
                        </label>
                        <%}%>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="filter">
                    <h6>Seasons:</h6>
                    <div class="season">
                      <%for(i=0;i < seasonsfilter.length; i++){%>
                        <label><input type="checkbox" name="fl-season" rel="<%=seasonsfilter[i]%>"
                            value="<%=seasonsfilter[i]%>" class="english-filter seasonsFilter" />
                          <%=seasonsfilter[i]%>
                        </label>
                        <%}%>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="filter">
                    <h6>Media Type:</h6>
                    <div class="filter">
                      <%for(i=0;i < typeFilter.length; i++){%>
                        <label><input type="checkbox" name="fl-cardType" rel="<%=typeFilter[i]%>"
                            value="<%=typeFilter[i]%>" class="english-filter cardTypeFilter" />
                          <%=typeFilter[i]%>
                        </label>
                        <%}%>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-cards" style="display: grid; grid-template-columns: 1fr 1fr;  ">

                <%for(i=0;i < dataic.length; i++){%>
                  <% if(dataic[i].Statement.toLowerCase().indexOf("youtube")> -1) { %>
                    <div class="card card-notl border-0" style="height:100%;"
                      data-category="<%=dataic[i].Season%>lmn<%=dataic[i].Caste%>lmn<%=dataic[i].Geography%>lmnVideo">
                      <% } else if(dataic[i].Statement.toLowerCase().indexOf("imagekit")> -1) { %>
                        <div class="card card-notl border-0" style="height:100%;"
                          data-category="<%=dataic[i].Season%>lmn<%=dataic[i].Caste%>lmn<%=dataic[i].Geography%>lmnImage">
                          <% } else { %>
                            <div class="card card-notl border-0" style="height:100%;"
                              data-category="<%=dataic[i].Season%>lmn<%=dataic[i].Caste%>lmn<%=dataic[i].Geography%>lmnText">
                              <% } %>
                                <div class="card-body">
                                  <div class="card-top-info">
                                    <p class="card-title text-left card-caste">
                                      Caste:
                                      <%=dataic[i].Caste%>
                                    </p>
                                    <p class="card-title text-left card-geography">
                                      Geography:
                                      <%=dataic[i].Geography%>
                                    </p>
                                  </div>

                                  <!-- <p class="card-title text-left card-farming">Tag: <b>Farming</b></p> -->
                                  <div class="card-body-description">
                                    <% if(dataic[i].Statement.toLowerCase().indexOf("youtube")>
                                      -1) { %>
                                      <iframe class="card-video-top video-embed" src="<%=dataic[i].Statement%>"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                      </iframe>
                                      <% } else if(dataic[i].Statement.toLowerCase().indexOf("imagekit")>
                                        -1) { %>
                                        <img src='<%=dataic[i].Statement%>' alt="" class="card-image-top img-fluid"
                                          data-enlargeable style="cursor: zoom-in" />
                                        <p>
                                          <%-dataic[i].References%>
                                        </p>
                                        <% } else { %>
                                          <p class="card-text">
                                            <%-dataic[i].Statement%>
                                          </p>
                                          <% } %>
                                  </div>

                                </div>
                            </div>

                            <%}%>
                        </div>
                    </div>
                    <div class="col-sm-4 timeline" id="timelineEnglish">
                      <div class="row" style="border: 1px #9B613B double;">
                        <div class="col-lg-12">
                          <h5 class="text-center">Time Line</h5>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-lg-12 button-expand">
                           <span class="btn-custom" data-toggle="collapse" data-target=".multi-collapse"
                            aria-expanded="false" aria-controls="hdcall"><i class="fas fa-chevron-left"></i>
                            Expand Timeline</span>
                        </div>
                      </div>
                      <div class="row" style="padding: 10px; padding-bottom: 20px;">
                        <%for(i=0;i < datatl.length; i++){%>
                          <div class="col-sm-3 text-right timeline-time">
                            <h5>
                              <%if( datatl[i].Timeline=="'" ) { %>
                                <% } else { %>
                                  <%=datatl[i].Timeline%>
                                    <% } %>
                            </h5>
                          </div>

                          <div class="col-sm-9 text-left" style="border-left: 1px black double;">
                            <p>
                              <a data-toggle="collapse" href='#hdc<%=i%>' role="button" aria-expanded="false"
                                aria-controls='hdc<%=i%>'>
                                <h5>
                                  <%=datatl[i].Transition%>
                                </h5>
                              </a>
                            </p>
                            <div class="collapse multi-collapse" id='hdc<%=i%>'>
                              <div class="card card-body timeline-description">
                                <p>
                                  <%-datatl[i].Description%>
                                </p>
                              </div>
                            </div>

                          </div>
                          <%}%>
                      </div>

                    </div>
              </div>
            </div>
          </div>
        </div>
        <%-include('includes/foot')%>
          <!-- dataic = information cards -->
          <!-- datatl = timeline information -->